
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div style="width:100%">
    <img style="width:100%" src="~/Assest/Admin/img/images/banner_home.jpg" />
</div>