@model Models.EF.TaiKhoan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3 style="text-align:center">Bạn có chắc chắn muốn xóa tài khoản này?</h3>
<div style="width:26%; margin:20px auto 0px auto">
    <div class="dl-horizontal">

        @using (Html.BeginForm("DELETE", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.TenTK, new { htmlAttributes = new { @class = "form-control" } })
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Quay Lại", "Index")
            </div>
        }
    </div>
    @if (ViewBag.Error != null)
    {
        <br />
        <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
    }
